
    <link rel="stylesheet" href="/css/user_profile.css">
    
    <% if (profile_user.avatar) { %>
        <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="100">
    <% } %>
    
    <%if (locals.user.id == profile_user.id) {%>
        <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" value="<%= profile_user.email %>" required>
            <input type="file" name="avatar" placeholder="Profile Picture">
            <input type="submit" value="Update">
        </form>

    <%} else{%>
        <h1><%= profile_user.name%></h1>
        <h2><%= profile_user.email%></h2>

        <a href="/friends/toggle-friend/<%= profile_user.id %>">
            <% if(profile_user.isFriend) { %>
                <button>Unfollow</button>
            <% }else { %>
                <button>Follow</button>
            <% } %>
        </a>
    <%}%>
     

